@{
    ViewData["Title"] = "About Me";
}

<div class="container mt-5">
    <h1 class="text-center">About Me</h1>
    <hr>
    <p>Hello I'm Chase Guymon, a passionate developer with a deep-rooted love for creating immersive gaming experiences. With a solid foundation in Computer Science and a specialization in Game Development and Design, I've dedicated myself to pushing the boundaries of what's possible in digital entertainment.</p>

    <h2 class="mt-5">My Journey</h2>
    <p>My journey began in the realm of computer science, where I quickly discovered my passion for game development. This led me to explore the depths of programming design patterns, striving for clean, efficient, and maintainable code. My dedication to excellence in coding has been instrumental in the success of many projects, including several games available on my <a href="https://youritchiopage.com" target="_blank">Itch.io page</a>.</p>

    <h2 class="mt-5">Achievements</h2>
    <p>Throughout my career, I've had the privilege of participating in numerous game jams, where creativity and coding skills are put to the test under tight deadlines. My efforts have been recognized with impressive accolades, including first-place finishes in two game jams and securing third place in another highly competitive event. These achievements are a testament to my ability to innovate and deliver high-quality gaming experiences.</p>

    <h2 class="mt-5">Interests Beyond Coding</h2>
    <p>While my professional life revolves around the intricate world of game development, I also find joy in other pursuits. Baseball holds a special place in my heart, serving as both a hobby and a source of inspiration. Analyzing games, whether they're on the diamond or within virtual environments, allows me to appreciate the strategic depth and teamwork required in both fields.</p>

    <h2 class="mt-5">Contact Me</h2>
    <p>If you're interested in collaborating on a project, discussing game development trends, or simply saying hello, feel free to reach out through the contact form below. I'm always open to new ideas and opportunities to contribute to the gaming community.</p>
</div>