@{
    ViewData["Title"] = "Experience";
}
<div class="container mt-5">
    <h1 class="text-center">About My Experience</h1>
    <hr>
    <p>As a versatile programmer with a knack for turning complex challenges into engaging solutions, I've navigated through a variety of roles, each enriching my skill set and deepening my understanding of the tech landscape. My journey has taken me from managing game files at Infinite Album to preparing for an exciting venture with Alan-1, alongside my ongoing contribution to Millennial Falls.</p>

    <h2 class="mt-5">Roles & Contributions</h2>
    <div class="row">
        <div class="col-md-12">
            <h3>Infinite Album</h3>
            <p>At Infinite Album, I took charge of integrating game files, leveraging my programming expertise to enhance the platform's functionality and user experience. This role allowed me to dive deep into the intricacies of game development, honing my skills in collaboration with a dynamic team.</p>
        </div>
        <div class="col-md-12 mt-5">
            <h3>Alan-1</h3>
            <p>Soon, I'll be joining forces with Alan-1, bringing my unique blend of creativity and technical prowess to a new challenge. I'm eager to contribute to their mission, applying my knowledge in game development and programming to drive innovation forward.</p>
        </div>
        <div class="col-md-12 mt-5">
            <h3>Millennial Falls</h3>
            <p>Currently, I play a pivotal role at Millennial Falls, where my responsibilities span across various facets of the company's operations. Leading a team, I ensure seamless integration of programming solutions that align with our goals, fostering a collaborative environment that thrives on innovation.</p>
        </div>
    </div>

    <h2 class="mt-5">Teamwork & Leadership</h2>
    <p>A significant part of my professional identity is rooted in my ability to work effectively within teams. Whether leading a project or contributing as part of a group, I strive to cultivate an atmosphere of mutual support and growth. My leadership role at Millennial Falls is a testament to my commitment to guiding teams towards achieving shared objectives with efficiency and enthusiasm.</p>

    <h2 class="mt-5">Itch Games Collaborations</h2>
    <p>Beyond my corporate engagements, I've engaged in numerous creative endeavors with friends through Itch.io. Together, we've developed a portfolio of games that reflect our collective passion for programming and storytelling. These collaborations have not only enriched my personal portfolio but also underscored my capacity to work collaboratively and creatively in a fast-paced environment.</p>
</div>